<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>GARDEN BOOK</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                       <a href="#">GARDEN BOOK</a>
                   </div>
                </div>
                    <div class="col-md-9">
                        <div class="menubar">
                            <ul>
                                <li class="home"><a href="./index.html">HOME</a></li>
                                <li class="garden"><a href="#">GARDEN/CROP</a></li>
                                    <div class="submenu">
                                        <ul>
                                            <li><a href="#">New Plot</a></li>
                                            <li><a href="#">Manage Plot</a></li>
                                        </ul>
                                    </div>
                                <li class="article"><a href="#">ARTICLE</a></li>
                                <li class="contact"><a href="#">CONTACT</a></li>
                                <li class="active"><a href="./login.html">LOGIN/SIGNUP</a></li>
                                
                            </ul>
                        </div>
                    </div>
            </div>
            <!--navigation bar-->
        </div>
    </header>
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <input type="text" placeholder="Username" name="" value="">
        </div>
        <div class="textbox">
            <input type="text" placeholder="Password" name="" value="">
        </div>
            <input class="btn" type="button" name="" value="Sign in">
    </div>

    
</body>
</html>