<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Plot Display</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-light topline">
        <a class="navbar-brand ml-0" href="#"><h1>Garden Helper</h1></a>
        <a class="navbar-brand mt-2" href="#"><i class="fas fa-seedling float-left mt-2 mr-2"></i><h3>Profile</h3></a>
    </nav>
    <div class="row">
        <div class="col-9">
            <div class="jumbotron jumbotron-fluid m-3 rounded">
                <h1 class="display-3 text-center mt-n5">Plot 1</h1>
                <hr class="mx-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/95a0197b33f8efe2ea7a0d25f84476415779a4b5" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Potatoes</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/95a0197b33f8efe2ea7a0d25f84476415779a4b5" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Potatoes</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/95a0197b33f8efe2ea7a0d25f84476415779a4b5" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Potatoes</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/95a0197b33f8efe2ea7a0d25f84476415779a4b5" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Potatoes</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img src="https://bs.floristic.org/image/o/70d678aabeca1e2751d751537e0289fbbfcfbed1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-text text-center">Corn</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="container-fluid">
                            <table class="table-striped rounded">
                                <thead>
                                        <th>Date</th>
                                        <th>Watered?</th>
                                        <th>Fertilized?</th>
                                        <th>Type of Fertilizer used</th>
                                        <th>Notes</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>08.26.2020</th>
                                        <td>yes</td>
                                        <td>yes</td>
                                        <td>Miracle-Gro</td>
                                        <td>Leaves canoeing, may need wind break</td>
                                    </tr>
                                    <tr>
                                        <th>08.28.2020</th>
                                        <td>yes</td>
                                        <td>yes</td>
                                        <td>Miracle-Gro</td>
                                        <td> wind break installed</td>
                                    </tr>
                                    <tr>
                                        <th>08.30.2020</th>
                                        <td>yes</td>
                                        <td>yes</td>
                                        <td>Miracle-Gro</td>
                                        <td>leaves recovered, fruit buds appeared</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="container-fluid">
                                <div class="jumbotron notesTron">
                                    <form>
                                        <h4>Add another Entry</h4>
                                        <div class="form-row">
                                            <div class="form-check-inline">
                                                <h5>Date:</h5>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="dateSelect" id="dateToday" value="dateToday" checked>
                                                <label class="form-check-label" for="dateToday">
                                                    today: 8.31.2020
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="dateSelect" id="pastDate" value="pastDate">
                                                <input type="text" id="pastDateInput" placeholder="Past Date">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-check-inline">
                                                <h5>Watered?</h5>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="watered" id="wateredYes" value="wateredYes">
                                                <label class="form-check-label" for="wateredYes">yes</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="watered" id="wateredNo" value="wateredNo">
                                                <label class="form-check-label" for="wateredNo">no</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-check-inline">
                                                <h5>Fertilized?</h5>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="fertilized" id="fertilizedYes" value="fertilizedYes">
                                                <label class="form-check-label" for="fertilizedYes">yes</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" name="fertilized" id="fertilizedNo" value="fertilizedNo">
                                                <label class="form-check-label" for="fertilizedNo">no</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-check-inline">
                                                <h5>Notes:</h5>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="text-area" class="form-control noteField" id="growingNote" placeholder="have notes?">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-check-inline">
                                                <button type="button" class="btn btn-secondary addEntry">Add Entry</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron jumbotron-fluid m-3 rounded">
                <h3 class="text-center mt-n5">Plot Details</h3>
                <hr class="mx-4">
                <div class="container">
                    <h5>Location: Chicago,IL</h5>
                    <br>
                    <h5>Size: 10" x 15"</h5>
                    <br>
                    <h5>Purpose: Vegetable</h5>
                    <br>
                    <h5>Enviroment: Outdoor</h5>
                </div>   
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
</body>