<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Profile</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-light topline">
            <a class="navbar-brand ml-0" href="#"><h1>Garden Helper</h1></a>
            <a class="navbar-brand mt-2" href="#"><i class="fas fa-seedling float-left mt-2 mr-2"></i><h3>Profile</h3></a>
        </nav>
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid m-3 rounded">
                    <h1 class="display-3 text-center mt-n5">Nathan Hall</h1>
                    <hr class="mx-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <div class="card rounded-circle justify-content-center">
                                    <div class="card-body rounded-circle icon-center">
                                        <i class="fas fa-tree fa-10x"></i>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-1"></div>
                            <div class="col-8">
                                <div class="row">
                                    <h2>Location : Chicago, IL</h2>
                                </div>
                                <div class="row">
                                    <h2>Primary Enviroment: Indoor tent</h2>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="jumbotron currentPlots" style="width: 80%;">
                                        <h2 style="text-align: center;">Current Plots</h2>
                                        <hr class="my-3">
                                        <button type="button" class="btn btn-secondary btn-lg btn-block">Plot 1</button>
                                        <button type="button" class="btn btn-secondary btn-lg btn-block">Plot 2</button>
                                        <button type="button" class="btn btn-secondary btn-lg btn-block">Plot 3</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
</body>